<div>
    <h2><span jhiTranslate="jhipsterAngular2MavenApp.tests.home.title">Tests</span>
        <button class="btn btn-primary float-xs-right create-tests" [routerLink]="['/', { outlets: { popup: ['tests-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="jhipsterAngular2MavenApp.tests.home.createLabel">
            Create new Tests
            </span>
        </button></h2>
    <jhi-alert></jhi-alert>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right">
                        <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'jhipsterAngular2MavenApp.tests.home.search' | translate }}">
                        <span  class="input-group-btn width-min">
                            <button class="btn btn-info" (click)="search(currentSearch)">
                                <span class="fa fa-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" *ngIf="currentSearch">
                            <button class="btn btn-info" (click)="clear()">
                                <span class="fa fa-trash-o"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="tests">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="test_name"><span jhiTranslate="jhipsterAngular2MavenApp.tests.test_name">Test Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="class_name"><span jhiTranslate="jhipsterAngular2MavenApp.tests.class_name">Class Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="method_name"><span jhiTranslate="jhipsterAngular2MavenApp.tests.method_name">Method Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="parameter_name"><span jhiTranslate="jhipsterAngular2MavenApp.tests.parameter_name">Parameter Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="parameter_value"><span jhiTranslate="jhipsterAngular2MavenApp.tests.parameter_value">Parameter Value</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="suite.suite_name"><span jhiTranslate="jhipsterAngular2MavenApp.tests.suite">Suite</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tests of tests ;trackBy: trackId">
                <td><a [routerLink]="['../tests', tests.id ]">{{tests.id}}</a></td>
                <td>{{tests.test_name}}</td>
                <td>{{tests.class_name}}</td>
                <td>{{tests.method_name}}</td>
                <td>{{tests.parameter_name}}</td>
                <td>{{tests.parameter_value}}</td>
                <td>
                    <div *ngIf="tests.suite">
                        <a [routerLink]="['../suite', tests.suite?.id ]" >{{tests.suite?.suite_name}}</a>
                    </div>
                </td>
                <td class="text-xs-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../tests', tests.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tests/'+ tests.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tests/'+ tests.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div class="text-xs-center" *ngIf="tests && tests.length">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
</div>
