<jhi-page-ribbon></jhi-page-ribbon>
<div>
    <router-outlet name="navbar"></router-outlet>
</div>
<div style="height:100%; width:100%;">
  <vertical-split-pane primary-component-minsize="10" secondary-component-minsize="35" 
      [primary-component-initialratio]="0" (on-change)="onVChange($event)" 
      [primary-component-toggled-off]="!_opened">
    <div class="split-pane-content-primary">
      <div class="left">
        left
      </div>
    </div>
    <div class="split-pane-content-secondary">
      <div class="right">  

        <div class="container-fluid">
            <div class="card jh-card">
                <sticky >
                    <ng2-slim-loading-bar></ng2-slim-loading-bar>
                </sticky>
                <router-outlet></router-outlet>
                <router-outlet name="popup"></router-outlet>
            </div>
            <jhi-footer></jhi-footer>
        </div>

      </div>
    </div>
  </vertical-split-pane>
</div>
