<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
  
      <div class="modal-header">
          <h4 class="modal-title" id="myTestssLabel">Create or edit a Testss</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                  (click)="clear()">&times;</button>
      </div>
      <div class="modal-body">
          <jhi-alert-error></jhi-alert-error>
          <div class="form-group" [hidden]="!hero.id">
              <label for="id">ID</label>
              <input type="text" class="form-control" id="id" name="id"
                     [(ngModel)]="hero.id" readonly />
          </div>
          <div class="form-group">
              <label class="form-control-label" for="field_name">Name</label>
              <input type="text" class="form-control" name="name" id="field_name"
                  [(ngModel)]="hero.name" required />
              <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                  <small class="form-text text-danger"
                     [hidden]="!editForm.controls.name?.errors?.required">
                     This field is required.
                  </small>
              </div>
          </div>
          <div class="form-group">
              <label class="form-control-label" for="field_val">Val</label>
              <input type="number" class="form-control" name="val" id="field_val"
                  [(ngModel)]="hero.val" required />
              <div [hidden]="!(editForm.controls.val?.dirty && editForm.controls.val?.invalid)">
                  <small class="form-text text-danger"
                     [hidden]="!editForm.controls.val?.errors?.required">
                     This field is required.
                  </small>
                  <small class="form-text text-danger"
                      [hidden]="!editForm.controls.val?.errors?.number">
                      This field should be a number.
                  </small>
              </div>
          </div>
          <div class="form-group">
              <label class="form-control-label" for="field_enums">Enums</label>
              <select class="form-control" name="enums" [(ngModel)]="hero.enums" id="field_enums"  required>
                  <option value="one">one</option>
                  <option value="two">two</option>
                  <option value="three">three</option>
              </select>
              <div [hidden]="!(editForm.controls.enums?.dirty && editForm.controls.enums?.invalid)">
                  <small class="form-text text-danger"
                     [hidden]="!editForm.controls.enums?.errors?.required">
                     This field is required.
                  </small>
              </div>
          </div>
          <div class="form-group">
              <label class="form-control-label" for="field_dates">Dates</label>
              <div class="input-group">
                  <input id="field_dates" type="text" class="form-control" name="dates" ngbDatepicker  #datesDp="ngbDatepicker" [(ngModel)]="hero.dates"
                  required/>
                  <span class="input-group-btn">
                      <button type="button" class="btn btn-secondary" (click)="datesDp.toggle()"><i class="fa fa-calendar"></i></button>
                  </span>
              </div>
              <div [hidden]="!(editForm.controls.dates?.dirty && editForm.controls.dates?.invalid)">
                  <small class="form-text text-danger"
                     [hidden]="!editForm.controls.dates?.errors?.required">
                     This field is required.
                  </small>
              </div>
          </div>
  
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
              <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
          </button>
          <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
              <span class="fa fa-save"></span>&nbsp;<span>Save</span>
          </button>
      </div>
  </form>
  