/Keys
/whgtf.standalone.casinos.lib/target
/BauAutomationTests/test-output
/BauAutomationTests/target
/AutomationCommon/target
/ClientsAutomationTests/Clients/bin/Debug
/ClientsAutomationTests/Clients/obj/Debug
/ClientsAutomationTests/AutomationLib/bin/Debug
/ClientsAutomationTests/AutomationLib/obj
/ClientsAutomationTests/TestResults
screenshots
/GatlingTests/.settings
/GatlingTests/.cache-tests
/GatlingTests/.classpath
/GatlingTests/.gitignore
/GatlingTests/.project
/GatlingTests/pom.xml
/whgtf.standalone.casinos/whgtf.standalone.casinos.tests/src/test/resources/temp.test.properties
/whgtf.standalone.casinos/whgtf.standalone.casinos.tests/src/test/resources/stepdefs/casino/mobile/games/Games.feature
