
<div *ngIf="tests">
    <h2><span>Tests</span> {{tests.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Test Name</span></dt>
        <dd>
            <span>{{tests.testName}}</span>
        </dd>
        <dt><span>Suite</span></dt>
        <dd>
            <div *ngIf="tests.suite">
                <a [routerLink]="['/suite', tests.suite?.id]">{{tests.suite?.suiteName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'tests/'+ tests.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
