
<div *ngIf="mongoTest">
    <h2><span jhiTranslate="testManagerApp.mongoTest.detail.title">Mongo Test</span> {{mongoTest.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="testManagerApp.mongoTest.name">Name</span></dt>
        <dd>
            <span>{{mongoTest.name}}</span>
        </dd>
        <dt><span jhiTranslate="testManagerApp.mongoTest.val">Val</span></dt>
        <dd>
            <span>{{mongoTest.val}}</span>
        </dd>
        <dt><span jhiTranslate="testManagerApp.mongoTest.date">Date</span></dt>
        <dd>
            <span>{{mongoTest.date | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="testManagerApp.mongoTest.enums">Enums</span></dt>
        <dd>
            <span jhiTranslate="{{'testManagerApp.Enums.' + mongoTest.enums}}">{{mongoTest.enums}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'mongo-test/'+ mongoTest.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
