
<div *ngIf="testss">
    <h2><span jhiTranslate="testManagerApp.testss.detail.title">Testss</span> {{testss.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="testManagerApp.testss.name">Name</span></dt>
        <dd>
            <span>{{testss.name}}</span>
        </dd>
        <dt><span jhiTranslate="testManagerApp.testss.val">Val</span></dt>
        <dd>
            <span>{{testss.val}}</span>
        </dd>
        <dt><span jhiTranslate="testManagerApp.testss.enums">Enums</span></dt>
        <dd>
            <span jhiTranslate="{{'testManagerApp.Enums.' + testss.enums}}">{{testss.enums}}</span>
        </dd>
        <dt><span jhiTranslate="testManagerApp.testss.dates">Dates</span></dt>
        <dd>
            <span>{{testss.dates | date:'mediumDate'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'testss/'+ testss.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
