<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="SiteMapBuilder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="WpfApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <SiteMapBuilder.Properties.Settings>
            <setting name="LanguageFilter" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>/no/</string>
                        <string>/pl/</string>
                        <string>/fr/</string>
                        <string>/sv/</string>
                        <string>/nl/</string>
                        <string>/fi/</string>
                        <string>/cs/</string>
                        <string>/ru/</string>
                        <string>/ja/</string>
                        <string>/es/</string>
                        <string>/uk/</string>
                        <string>/ro/</string>
                        <string>/qc/</string>
                        <string>/cz/</string>
                        <string>/da/</string>
                        <string>/pt/</string>
                        <string>/de/</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="LoadDelayInMs" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="SearchString" serializeAs="String">
                <value>flashcasino.php</value>
            </setting>
        </SiteMapBuilder.Properties.Settings>
        <WpfApplication1.Properties.Settings>
            <setting name="LanguageFilter" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>http://livecasino.eurogrand.com/no/</string>
                        <string>http://livecasino.eurogrand.com/pl/</string>
                        <string>http://livecasino.eurogrand.com/fr/</string>
                        <string>http://livecasino.eurogrand.com/da/</string>
                        <string>http://livecasino.eurogrand.com/sv/</string>
                        <string>http://livecasino.eurogrand.com/nl/</string>
                        <string>http://livecasino.eurogrand.com/fi/</string>
                        <string>http://livecasino.eurogrand.com/cs/</string>
                        <string>http://livecasino.eurogrand.com/ru/</string>
                        <string>http://livecasino.eurogrand.com/ja/</string>
                        <string>http://livecasino.eurogrand.com/es/</string>
                        <string>http://livecasino.eurogrand.com/uk/</string>
                        <string>http://livecasino.eurogrand.com/ro/</string>
                        <string>http://livecasino.eurogrand.com/qc/</string>
                        <string>http://livecasino.eurogrand.com/de/</string>
                        <string>http://livecasino.eurogrand.com/de</string>
                    </ArrayOfString>
                </value>
            </setting>
        </WpfApplication1.Properties.Settings>
    </userSettings>
</configuration>
