<br>
<br>

<div class="well form-vertical" id="product-form" >
	<p class="note">Fields with <span class="required">*</span> are required.</p>

	<div class="row-fluid">
		<div class="span12">
			</div>
	</div>


	<div class="row-fluid">
		<div class="span12">

			<div class="span6">
				<label for="Product_product" class="required">Product <span class="required">*</span></label><input name="Product[product]" id="Product_product" type="text" value="Bingo">
			</div>

			<!-- div class="span6">
				<label for="Product_color">Color</label> <input name="Product[product]" id="Product_color" type="text" value="Bingo2">
				<!-- &nbsp;&nbsp; -->
				<!-- <input class="span2 mcolorpic" id="Product_color" name="Product[color]" type="text" value="ff00f5">							
			</div> -->
			<div class="span6">
				<label for="Product_code">Code</label><input name="Product[code]" id="Product_code" type="text" value="AT">
			</div>
		</div>
	</div>

	<div class="row-fluid">
	<hr>
		<div class="span12">
			<button class="btn" id="yw2" type="submit" name="yt0">Save</button>		</div>
	</div>

</div>


<div class="well form-vertical" id="product-form" >
	<p class="note">Fields with <span class="required">*</span> are required.</p>

	<div class="row-fluid">
		<div class="span12">
			</div>
	</div>


	<div class="row-fluid">
		<div class="span12">

			<div class="span3">
				<label for="Product_product" class="required">Product <span class="required">*</span></label><input name="Product[product]" id="Product_product" type="text" value="Bingo">
			</div>

			<div class="span6">
				<label for="Product_color">Color</label> <input name="Product[product]" id="Product_color" type="text" value="Bingo2">
				<!-- &nbsp;&nbsp; -->
				<!-- <input class="span2 mcolorpic" id="Product_color" name="Product[color]" type="text" value="ff00f5"> -->							</div>
			<div class="span3">
				<label for="Product_code">Code</label><input name="Product[code]" id="Product_code" type="text" value="AT">
			</div>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span12">

			<div class="span3">
				<label for="Product_product" class="required">Product <span class="required">*</span></label><input name="Product[product]" id="Product_product" type="text" value="Bingo">
			</div>

			<div class="span6">
				<label for="Product_color">Color</label> <input name="Product[product]" id="Product_color" type="text" value="Bingo2">
				<!-- &nbsp;&nbsp; -->
				<!-- <input class="span2 mcolorpic" id="Product_color" name="Product[color]" type="text" value="ff00f5"> -->							</div>
			<div class="span3">
				<label for="Product_code">Code</label><input name="Product[code]" id="Product_code" type="text" value="AT">
			</div>
		</div>
	</div>
	
	<div class="row-fluid">
	<hr>
		<div class="span12">
			<button class="btn" id="yw2" type="submit" name="yt0">Save</button>		</div>
	</div>

</div>

<div class="row" >

	<div class="well span5" id="product-form" >
	<p class="note">Fields with <span class="required">*</span> are required.</p>

	<div class="row-fluid">
		<div class="span12">
			</div>
	</div>


	<div class="row-fluid">
		<div class="form-horizontal">
			<div class="control-group ">
				<label class="control-label span6" for="LoginForm_username">Username <span class="required">*</span></label>
				<div class="controls span6">
					<input name="LoginForm[username]" id="LoginForm_username" type="text">
				</div>
			</div>
			<div class="control-group ">
				<label class="control-label span6" for="LoginForm_username">password2 <span class="required">*</span></label>
				<div class="controls span6">
					<input name="LoginForm[username]" id="LoginForm_username" type="text">
				</div>
			</div>
		</div>
	</div>

	<!-- <div class="row-fluid">
		<div class="form-horizontal span12">
			<div class="control-group ">
				<label class="control-label required" for="LoginForm_username">password <span class="required">*</span></label>
				<div class="controls">
					<input name="LoginForm[username]" id="LoginForm_username" type="text">
				</div>
			</div>
		</div>
	</div> -->
	
	<div class="row-fluid">
	<hr>
		<div class="span12">
			<button class="btn" id="yw2" type="submit" name="yt0">Save</button>		
		</div>
	</div>
	
</div>

	<div class="well span6" id="product-form" >
	<p class="note">Fields with <span class="required">*</span> are required.</p>

	<div class="row-fluid">
		<div class="span12">
			</div>
	</div>


	<div class="row-fluid">
		<div class="span12">

			<div class="span6">
				<label for="Product_product" class="required">Product <span class="required">*</span></label><input name="Product[product]" id="Product_product" type="text" value="Bingo">
			</div>

			<div class="span6">
				<label for="Product_code">Code</label><input maxlength="2" name="Product[code]" id="Product_code" type="text" value="AT">
			</div>
		</div>
	</div>

	<div class="row-fluid">
	<hr>
		<div class="span12">
			<button class="btn" id="yw2" type="submit" name="yt0">Save</button>		
		</div>
	</div>
	
</div>
</div>