<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>20</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <com.cwctravel.hudson.plugins.extended__choice__parameter.ExtendedChoiceParameterDefinition plugin="extended-choice-parameter@0.76">
          <name>Tests</name>
          <description>Select tests to execute</description>
          <quoteValue>false</quoteValue>
          <saveJSONParameterToFile>false</saveJSONParameterToFile>
          <visibleItemCount>10</visibleItemCount>
          <type>PT_CHECKBOX</type>
          <value>@AllMig,@WhccAllMig,@WhccDeskDepositEn,@WhccDeskLoginEn,@WhccDeskRegisterEn,@WhccDeskTrackingEn,@WhccDeskPaymentMethodsEn,@WhccMobiDepositEn,@WhccMobiLoginEn,@WhccMobiRegisterEn,@WhccMobiTrackingEn,@WhccMobiPaymentMethodsEn,@WhccDeskDepositLimitEn,@WhccMobiDepositLimitEn,@WhccSelfExclude,@WhccTimeOut</value>
          <defaultValue>@WhccDeskLoginEn</defaultValue>
          <multiSelectDelimiter>,</multiSelectDelimiter>
          <projectName>Automation_win</projectName>
        </com.cwctravel.hudson.plugins.extended__choice__parameter.ExtendedChoiceParameterDefinition>
        <com.cwctravel.hudson.plugins.extended__choice__parameter.ExtendedChoiceParameterDefinition plugin="extended-choice-parameter@0.76">
          <name>Environment</name>
          <description>Run time environment selection</description>
          <quoteValue>false</quoteValue>
          <saveJSONParameterToFile>false</saveJSONParameterToFile>
          <visibleItemCount>5</visibleItemCount>
          <type>PT_RADIO</type>
          <value>live,desktop-admin,ww2,dev-mig</value>
          <defaultValue>live</defaultValue>
          <multiSelectDelimiter>,</multiSelectDelimiter>
          <projectName>Automation_win</projectName>
        </com.cwctravel.hudson.plugins.extended__choice__parameter.ExtendedChoiceParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>Run_security_test</name>
          <description>If selected (not default), traffic will be caprured, ZAP_PROXY report will be generated</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>Create_javadoc</name>
          <description>If selected (not default), java doc will be created</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>Send_email</name>
          <description>Send email report</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>BDD_load_results</name>
          <description>Is to load BDD results to web</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <com.cwctravel.hudson.plugins.extended__choice__parameter.ExtendedChoiceParameterDefinition plugin="extended-choice-parameter@0.76">
          <name>Device</name>
          <description>Device type selection (Default is desktop browser)</description>
          <quoteValue>false</quoteValue>
          <saveJSONParameterToFile>false</saveJSONParameterToFile>
          <visibleItemCount>10</visibleItemCount>
          <type>PT_SINGLE_SELECT</type>
          <value>iPhone,iPad,iPad7.1,iPad7.0,iPad6.1.3,iPhone7.0,iPhone6.1.3,SamsungGalaxy4.1.2,SamsungGalaxy4.0.4,SamsungGalaxy4.2.2,SamsungGalaxyS3Mini4.1.2,SamsungGalaxyS4Mini4.2.2,SamsungGalaxyTab4.1.2,SamsungGalaxyTab4.2.2,SamsungGalaxynote4.3,SamsunggalaxyAce2.3.6,GoogleNexus4.4.2,SonyExperia4.2.2,HTCOne4.2.2,Yahoo,Bing,Baidu,Google</value>
          <defaultValue>iPhone7.0</defaultValue>
          <multiSelectDelimiter>,</multiSelectDelimiter>
          <projectName>Automation_win</projectName>
        </com.cwctravel.hudson.plugins.extended__choice__parameter.ExtendedChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ManualTests</name>
          <description>Select Manual Tests</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>slave_win</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <authToken>RUN</authToken>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.BatchFile>
      <command>@echo off&#xd;
echo Show all environment variable&#xd;
echo *********************************************************&#xd;
echo SELECTED TESTS TO EXECUTE list for current test is: %Tests%&#xd;
echo SELECTED Manual TESTS TO EXECUTE list for current test is: %ManualTests%&#xd;
echo CHECK IF MAIL NOTIFICATION SHOULD BE SENT: %Send_email%&#xd;
echo RUN_ALL_TESTS_WITH_MAIL_NOTIFICATION value for current test is: %Send_email%&#xd;
echo SET IF BROWSER SHOULD BE LOADED WITH PROXY is: %Run_security_test%&#xd;
echo ENVIRONMENT VALUE: %Environment%&#xd;
echo Selected Device is: %Device%&#xd;
echo is load Bdd Results: %BDD_load_results%&#xd;
echo *********************************************************</command>
    </hudson.tasks.BatchFile>
    <org.jenkinsci.plugins.conditionalbuildstep.singlestep.SingleConditionalBuilder plugin="conditional-buildstep@1.3.5">
      <condition class="org.jenkins_ci.plugins.run_condition.core.BooleanCondition" plugin="run-condition@1.0">
        <token>$Run_security_test</token>
      </condition>
      <buildStep class="hudson.tasks.BatchFile">
        <command>    echo *********************************************************&#xd;
  	echo echo START ZAP PROXY IN BACKROUND&#xd;
	echo *********************************************************&#xd;
&#xd;
        cd C:\ZapProxy&#xd;
	set PROCESSNAME=start_zap_proxy.bat&#xd;
	set PROCESSTYPE=cmd.exe&#xd;
&#xd;
	::First save current pids with the wanted process name&#xd;
	setlocal EnableExtensions EnableDelayedExpansion&#xd;
	set &quot;RETPIDS=&quot;&#xd;
	set &quot;OLDPIDS=p&quot;&#xd;
	for /f &quot;TOKENS=1&quot; %%a in (&apos;C:\Windows\System32\wbem\wmic PROCESS where &quot;Name=&apos;%PROCESSTYPE%&apos;&quot; get ProcessID ^| findstr [0-9]&apos;) do (set &quot;OLDPIDS=!OLDPIDS!%%ap&quot;)&#xd;
&#xd;
&#xd;
	::Spawn new process(es)&#xd;
	set BUILD_ID=dontKillMe &#xd;
        start %PROCESSNAME%&#xd;
	rem start java -Xmx512m -jar zap-2.6.0.jar -daemon -host 127.0.0.1 -port 8080 -config api.key=a0t9vfg5rbi6abc0ek1clkudfp&#xd;
&#xd;
	rem SLEEP 10&#xd;
	::Check and find processes missing in the old pid list&#xd;
	for /f &quot;TOKENS=1&quot; %%a in (&apos;C:\Windows\System32\wbem\wmic PROCESS where &quot;Name=&apos;%PROCESSTYPE%&apos;&quot; get ProcessID ^| findstr [0-9]&apos;) do (&#xd;
	if &quot;!OLDPIDS:p%%ap=zz!&quot;==&quot;%OLDPIDS%&quot; (set &quot;RETPIDS=/PID %%a !RETPIDS!&quot;)&#xd;
	)&#xd;
        &#xd;
        cd C:\jenkins\workspace\Automation_win&#xd;
        echo &quot;%RETPIDS%&quot;&gt;PID.txt&#xd;
	@echo off&#xd;
	echo *********************************************************&#xd;
	echo echo CHECK IF ZAP PROXY IS UP&#xd;
	echo *********************************************************&#xd;
&#xd;
	rem counter for connection attempts&#xd;
	set /a counter=1&#xd;
&#xd;
	:SENT_CURL_REQUEST_TO_VALIDATE_CONNECTION&#xd;
	echo TEST CONNECTION TO ZAP PROXY &#xd;
&#xd;
	rem try to run curl to reset cache &#xd;
		for /f &quot;tokens=*&quot; %%a in (&apos;curl -s &quot;http://127.0.0.1:8080/JSON/core/action/newSession/?zapapiformat=JSON&amp;apikey=a0t9vfg5rbi6abc0ek1clkudfp&amp;name=&amp;overwrite=&quot; 2^&gt;^&amp;1&apos;) do (set curl_output=%%a)&#xd;
		&#xd;
	rem if ZAP is down, count attempt and back to try again&#xd;
	IF NOT DEFINED curl_output (&#xd;
	set /a counter=%counter%+1&#xd;
	echo Attempt to connect to ZAP PROXY number: %counter% from 10&#xd;
	echo Wait 5 seconds to next attempt &#xd;
	PING 1.1.1.1 -n 1 -w 5000 &gt;NUL&#xd;
&#xd;
	rem if number of attempts is equals to 10, exit&#xd;
	if %counter% == 10 (&#xd;
	  goto EXIT_BY_TIMEOUT&#xd;
	)&#xd;
&#xd;
	goto RETURN_TO_CONNECTION_ATTEMPT&#xd;
&#xd;
	)&#xd;
&#xd;
	rem if connection is established, exit and continue to next build step	&#xd;
	if %curl_output% == {&quot;Result&quot;:&quot;OK&quot;} (&#xd;
	  goto VALID_EXIT&#xd;
	)&#xd;
&#xd;
	:VALID_EXIT&#xd;
	echo ZAP PROXY IS UP. Response from clear cache request is: %curl_output%, test will continue&#xd;
        set BUILD_ID=dontKillMe&#xd;
	exit /b 0&#xd;
&#xd;
	:RETURN_TO_CONNECTION_ATTEMPT&#xd;
	echo echo ZAP IS STILL DOWN.&#xd;
	GOTO SENT_CURL_REQUEST_TO_VALIDATE_CONNECTION&#xd;
&#xd;
	:EXIT_BY_TIMEOUT&#xd;
	echo TIMEOUT ERROR. Can&apos;t connect to ZAP PROXY after 10 attempts, test will continue with &#xd;
        no security log&#xd;
	exit /b 1</command>
      </buildStep>
      <runner class="org.jenkins_ci.plugins.run_condition.BuildStepRunner$Fail" plugin="run-condition@1.0"/>
    </org.jenkinsci.plugins.conditionalbuildstep.singlestep.SingleConditionalBuilder>
    <hudson.tasks.BatchFile>
      <command>echo *********************************************************&#xd;
echo pull from git&#xd;
echo *********************************************************&#xd;
rem git clone --progress -v ssh://git@192.168.99.100:23/yanivc/sac-auto-tests.git&#xd;
&#xd;
cd sac-auto-tests&#xd;
git reset --hard HEAD&#xd;
git clean -f -d&#xd;
del .git\index.lock&#xd;
git pull</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>echo *********************************************************&#xd;
echo RUN TESTS IN SELECTED ENVIRONMENT (NOT ALL TESTS WILL BE EXECUTED)&#xd;
echo *********************************************************&#xd;
&#xd;
echo *********************************************************&#xd;
echo RUN TESTS IN LIVE ENVIRONMENT (NOT ALL TESTS WILL BE EXECUTED)&#xd;
echo *********************************************************&#xd;
&#xd;
SET RunTests=&quot;&quot;&#xd;
IF not &quot;%ManualTests%&quot;==&quot;&quot; IF not &quot;%Tests%&quot;==&quot;&quot; (&#xd;
  SET RunTests=%ManualTests%,%Tests%&#xd;
  GOTO cont&#xd;
)&#xd;
rem else&#xd;
IF not &quot;%ManualTests%&quot;==&quot;&quot; (&#xd;
  SET RunTests=%ManualTests%&#xd;
)&#xd;
IF not &quot;%Tests%&quot;==&quot;&quot; (&#xd;
  SET RunTests=%Tests%&#xd;
)&#xd;
&#xd;
:cont&#xd;
cd sac-auto-tests\whgtf.standalone.casinos.parent&#xd;
mvn clean -q -U install -Dtest=ExtendTestRunner -DfailIfNoTests=false -Denv=%Environment% -Dbrowser=chrome -Ddevice=%Device% -Dsuite=EgMigration -Dproxy=%Run_security_test% -Dcucumber.options=&quot;--tags %RunTests%&quot;</command>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers>
    <hudson.plugins.postbuildtask.PostbuildTask plugin="postbuild-task@1.8">
      <tasks>
        <hudson.plugins.postbuildtask.TaskProperties>
          <logTexts>
            <hudson.plugins.postbuildtask.LogProperties>
              <logText></logText>
              <operator>AND</operator>
            </hudson.plugins.postbuildtask.LogProperties>
          </logTexts>
          <EscalateStatus>false</EscalateStatus>
          <RunIfJobSuccessful>false</RunIfJobSuccessful>
          <script>if %Run_security_test% == true (&#xd;
	@echo off&#xd;
	echo *********************************************************&#xd;
	echo REMOVE ZAP PROXY REPORT FILES FROM LAST RUN&#xd;
	echo *********************************************************&#xd;
	del results.html results.xml&#xd;
&#xd;
	echo *********************************************************&#xd;
	echo GENERATION ZAP PROXY REPORT &#xd;
	echo *********************************************************&#xd;
	curl &quot;http://127.0.0.1:8080/html/core/view/alerts&quot; &gt; results.html&#xd;
	curl &quot;http://127.0.0.1:8080/OTHER/core/other/xmlreport/?apikey=a0t9vfg5rbi6abc0ek1clkudfp&quot; &gt; results.xml&#xd;
)</script>
        </hudson.plugins.postbuildtask.TaskProperties>
        <hudson.plugins.postbuildtask.TaskProperties>
          <logTexts>
            <hudson.plugins.postbuildtask.LogProperties>
              <logText></logText>
              <operator>AND</operator>
            </hudson.plugins.postbuildtask.LogProperties>
          </logTexts>
          <EscalateStatus>false</EscalateStatus>
          <RunIfJobSuccessful>false</RunIfJobSuccessful>
          <script>echo *********************************************************&#xd;
echo Build Report Xcopy script formatter.js&#xd;
echo *********************************************************&#xd;
&#xd;
Xcopy /Y /Q sac-auto-tests\whgtf.standalone.casinos.tests\src\test\resources\Report\formatter.js sac-auto-tests\whgtf.standalone.casinos.tests\target\cucumber\cucumber-html-report\formatter.js</script>
        </hudson.plugins.postbuildtask.TaskProperties>
        <hudson.plugins.postbuildtask.TaskProperties>
          <logTexts>
            <hudson.plugins.postbuildtask.LogProperties>
              <logText></logText>
              <operator>AND</operator>
            </hudson.plugins.postbuildtask.LogProperties>
          </logTexts>
          <EscalateStatus>false</EscalateStatus>
          <RunIfJobSuccessful>false</RunIfJobSuccessful>
          <script>echo *********************************************************&#xd;
echo Create Report no JS&#xd;
echo *********************************************************&#xd;
&#xd;
REM git clone --progress -v git@git.nonprod.williamhill.plc:ycohen/sac-generate-report.git&#xd;
REM cd sac-generate-report&#xd;
REM git reset --hard HEAD&#xd;
REM git clean -f -d&#xd;
REM del .git\index.lock&#xd;
REM git pull&#xd;
&#xd;
REM cd GenerateRepost&#xd;
REM set projectName=Bau-Automation-mig&#xd;
REM mvn -Dexec.arguments=%projectName% install exec:java</script>
        </hudson.plugins.postbuildtask.TaskProperties>
        <hudson.plugins.postbuildtask.TaskProperties>
          <logTexts>
            <hudson.plugins.postbuildtask.LogProperties>
              <logText></logText>
              <operator>AND</operator>
            </hudson.plugins.postbuildtask.LogProperties>
          </logTexts>
          <EscalateStatus>false</EscalateStatus>
          <RunIfJobSuccessful>false</RunIfJobSuccessful>
          <script>echo *********************************************************&#xd;
echo Xcopy Report &#xd;
echo *********************************************************&#xd;
&#xd;
REM cd sac-generate-report\GenerateRepost&#xd;
REM echo f | xcopy /f /y C:\Jenkins\workspace\Eg_Mig_Automation_Tests\sac-auto-tests\whgtf.standalone.casinos\whgtf.standalone.casinos.tests\target\cucumber\cucumber-html-reports-send\feature-overview.html C:\Jenkins\workspace\Eg_Mig_Automation_Tests\sac-auto-tests\whgtf.standalone.casinos\whgtf.standalone.casinos.tests\target\cucumber\cucumber-html-report\feature-overview.html&#xd;
&#xd;
REM echo %Environment%&gt;sac-auto-tests\whgtf.standalone.casinos\whgtf.standalone.casinos.tests\target\cucumber\cucumber-html-report\Environment.txt</script>
        </hudson.plugins.postbuildtask.TaskProperties>
        <hudson.plugins.postbuildtask.TaskProperties>
          <logTexts>
            <hudson.plugins.postbuildtask.LogProperties>
              <logText></logText>
              <operator>AND</operator>
            </hudson.plugins.postbuildtask.LogProperties>
          </logTexts>
          <EscalateStatus>false</EscalateStatus>
          <RunIfJobSuccessful>false</RunIfJobSuccessful>
          <script>echo *********************************************************&#xd;
echo send Email: %Send_email% &#xd;
echo *********************************************************&#xd;
&#xd;
IF %Send_email%==true (&#xd;
    REM ECHO Sending Email&#xd;
    REM curl &quot;http://172.21.54.222:8080/view/Dynamo/job/Automation_Tests_Report/buildWithParameters?token=run&amp;Environment=EgMigration&amp;SendTo=All&quot;&#xd;
REM )</script>
        </hudson.plugins.postbuildtask.TaskProperties>
        <hudson.plugins.postbuildtask.TaskProperties>
          <logTexts>
            <hudson.plugins.postbuildtask.LogProperties>
              <logText></logText>
              <operator>AND</operator>
            </hudson.plugins.postbuildtask.LogProperties>
          </logTexts>
          <EscalateStatus>false</EscalateStatus>
          <RunIfJobSuccessful>false</RunIfJobSuccessful>
          <script>echo *********************************************************&#xd;
echo Create Cucamber Report (remove retry)&#xd;
echo *********************************************************&#xd;
&#xd;
REM git clone --progress -v git@git.nonprod.williamhill.plc:ycohen/sac-generate-report-new.git&#xd;
REM cd sac-generate-report-new&#xd;
REM git reset --hard HEAD&#xd;
REM git clean -f -d&#xd;
REM del .git\index.lock&#xd;
REM git pull&#xd;
&#xd;
REM cd GenerateRepost&#xd;
REM set projectName=Bau-Automation&#xd;
REM mvn -Dexec.arguments=%projectName% install exec:java</script>
        </hudson.plugins.postbuildtask.TaskProperties>
        <hudson.plugins.postbuildtask.TaskProperties>
          <logTexts>
            <hudson.plugins.postbuildtask.LogProperties>
              <logText></logText>
              <operator>AND</operator>
            </hudson.plugins.postbuildtask.LogProperties>
          </logTexts>
          <EscalateStatus>false</EscalateStatus>
          <RunIfJobSuccessful>false</RunIfJobSuccessful>
          <script>IF %BDD_load_results%==true1 (&#xd;
	echo *********************************************************&#xd;
	echo Send BDD Automation Report&#xd;
	echo *********************************************************&#xd;
        &#xd;
        echo %cd%%&#xd;
	set /p BuildNumber=&lt;C:\jenkins\workspace\Automation_win\BuildNumber.txt&#xd;
	set /a &quot;BuildNumber=%BuildNumber%&quot;&#xd;
	cd sac-auto-tests\whgtf.standalone.casinos.tests&#xd;
	set /p versionBuild=&lt;C:\jenkins\workspace\Automation_win\sac-auto-tests\whgtf.standalone.casinos.tests\versionBuild.txt&#xd;
	echo versions are: %versionBuild%-%BuildNumber%&#xd;
&#xd;
	curl -X PUT -d @./target/cucumber/cucumber-json-report.json https://192.168.99.100:8086/xbdd/rest/reports/Eurogrand/%versionBuild%/%BuildNumber% --header Content-Type:application/json -u admin:password -k -sS&#xd;
&#xd;
	echo *********************************************************&#xd;
	echo Send BDD ManualReport&#xd;
	echo *********************************************************&#xd;
&#xd;
	cmd /c mvn clean -q -U test -Dtest=TestRunnerDry -DfailIfNoTests=false -Dcucumber.options=&quot;--dry-run --tags @manual&quot;&#xd;
&#xd;
	curl -X PUT -d @./target/cucumber/cucumber-json-report-manual.json https://192.168.99.100:8086/xbdd/rest/reports/Eurogrand/%versionBuild%/%BuildNumber% --header Content-Type:application/json -u admin:password -k -sS&#xd;
&#xd;
	cd ../../&#xd;
	set /a &quot;BuildNumber=%BuildNumber%+1&quot;&#xd;
	rem echo %cd%%&#xd;
	echo &quot;%BuildNumber%&quot;&gt;BuildNumber.txt&#xd;
)&#xd;
&#xd;
IF %BDD_load_results%==true (&#xd;
   cd sac-auto-tests&#xd;
   cmd /c bdd.bat&#xd;
)</script>
        </hudson.plugins.postbuildtask.TaskProperties>
        <hudson.plugins.postbuildtask.TaskProperties>
          <logTexts>
            <hudson.plugins.postbuildtask.LogProperties>
              <logText></logText>
              <operator>AND</operator>
            </hudson.plugins.postbuildtask.LogProperties>
          </logTexts>
          <EscalateStatus>false</EscalateStatus>
          <RunIfJobSuccessful>false</RunIfJobSuccessful>
          <script>if %Run_security_test% == true (&#xd;
     echo *********************************************************&#xd;
     echo Send Security Report to Threadfix&#xd;
     echo *********************************************************&#xd;
     curl --insecure -H &apos;Accept: application/json&apos; -X POST --form file=@C:\jenkins\workspace\Automation_win\results.xml https://192.168.99.100:8443/threadfix/rest/applications/1/upload?apiKey=hRUNPJ8xlvkDiiExfc5nM9EZ7xbbdWxsruZBIF4GqcU&#xd;
)</script>
        </hudson.plugins.postbuildtask.TaskProperties>
        <hudson.plugins.postbuildtask.TaskProperties>
          <logTexts>
            <hudson.plugins.postbuildtask.LogProperties>
              <logText></logText>
              <operator>AND</operator>
            </hudson.plugins.postbuildtask.LogProperties>
          </logTexts>
          <EscalateStatus>false</EscalateStatus>
          <RunIfJobSuccessful>false</RunIfJobSuccessful>
          <script>if %Create_javadoc% == true (&#xd;
	@echo off&#xd;
	echo *********************************************************&#xd;
	echo CREATE JAVA TESTS DOC DOCUMENTATION&#xd;
	echo *********************************************************&#xd;
	cd sac-auto-tests\whgtf.standalone.casinos.tests&#xd;
	mvn javadoc:test-javadoc&#xd;
&#xd;
	@echo off&#xd;
	echo *********************************************************&#xd;
	echo CREATE JAVA LIB DOC DOCUMENTATION&#xd;
	echo *********************************************************&#xd;
	cd ..\whgtf.standalone.casinos.lib&#xd;
	mvn javadoc:javadoc&#xd;
)</script>
        </hudson.plugins.postbuildtask.TaskProperties>
        <hudson.plugins.postbuildtask.TaskProperties>
          <logTexts>
            <hudson.plugins.postbuildtask.LogProperties>
              <logText></logText>
              <operator>AND</operator>
            </hudson.plugins.postbuildtask.LogProperties>
          </logTexts>
          <EscalateStatus>false</EscalateStatus>
          <RunIfJobSuccessful>false</RunIfJobSuccessful>
          <script>echo *********************************************************&#xd;
echo TURN ZAP PROXY OFF &#xd;
echo *********************************************************.&#xd;
if %Run_security_test% == true (&#xd;
   rem taskkill /F /im cmd.exe&#xd;
::Kill the new threads (but no other)&#xd;
cd sac-auto-tests&#xd;
cmd /c KillZap.bat&#xd;
)</script>
        </hudson.plugins.postbuildtask.TaskProperties>
      </tasks>
    </hudson.plugins.postbuildtask.PostbuildTask>
    <hudson.tasks.junit.JUnitResultArchiver plugin="junit@1.20">
      <testResults>sac-auto-tests/whgtf.standalone.casinos.tests/**/*.xml</testResults>
      <keepLongStdio>false</keepLongStdio>
      <healthScaleFactor>1.0</healthScaleFactor>
      <allowEmptyResults>true</allowEmptyResults>
    </hudson.tasks.junit.JUnitResultArchiver>
    <htmlpublisher.HtmlPublisher plugin="htmlpublisher@1.12">
      <reportTargets>
        <htmlpublisher.HtmlPublisherTarget>
          <reportName>Tests java doc</reportName>
          <reportDir>sac-auto-tests/whgtf.standalone.casinos.tests/target/site/testapidocs</reportDir>
          <reportFiles>index.html</reportFiles>
          <alwaysLinkToLastBuild>false</alwaysLinkToLastBuild>
          <keepAll>true</keepAll>
          <allowMissing>true</allowMissing>
        </htmlpublisher.HtmlPublisherTarget>
        <htmlpublisher.HtmlPublisherTarget>
          <reportName>HTML Report</reportName>
          <reportDir>Security test results</reportDir>
          <reportFiles>results.html</reportFiles>
          <alwaysLinkToLastBuild>false</alwaysLinkToLastBuild>
          <keepAll>true</keepAll>
          <allowMissing>true</allowMissing>
        </htmlpublisher.HtmlPublisherTarget>
        <htmlpublisher.HtmlPublisherTarget>
          <reportName>Lib java doc</reportName>
          <reportDir>sac-auto-tests/whgtf.standalone.casinos.lib/target/site/apidocs</reportDir>
          <reportFiles>index.html</reportFiles>
          <alwaysLinkToLastBuild>false</alwaysLinkToLastBuild>
          <keepAll>true</keepAll>
          <allowMissing>true</allowMissing>
        </htmlpublisher.HtmlPublisherTarget>
        <htmlpublisher.HtmlPublisherTarget>
          <reportName>HTML Tests Report</reportName>
          <reportDir>sac-auto-tests/whgtf.standalone.casinos.tests/target/cucumber/cucumber-html-report</reportDir>
          <reportFiles>index.html</reportFiles>
          <alwaysLinkToLastBuild>false</alwaysLinkToLastBuild>
          <keepAll>true</keepAll>
          <allowMissing>false</allowMissing>
        </htmlpublisher.HtmlPublisherTarget>
      </reportTargets>
    </htmlpublisher.HtmlPublisher>
    <net.masterthought.jenkins.CucumberReportPublisher plugin="cucumber-reports@3.6.1">
      <jsonReportDirectory>sac-auto-tests/whgtf.standalone.casinos.tests/target/cucumber/</jsonReportDirectory>
      <fileIncludePattern>cucumber-json-report.json</fileIncludePattern>
      <fileExcludePattern></fileExcludePattern>
      <failedStepsNumber>0</failedStepsNumber>
      <skippedStepsNumber>0</skippedStepsNumber>
      <pendingStepsNumber>0</pendingStepsNumber>
      <undefinedStepsNumber>0</undefinedStepsNumber>
      <failedScenariosNumber>0</failedScenariosNumber>
      <failedFeaturesNumber>0</failedFeaturesNumber>
      <trendsLimit>0</trendsLimit>
      <parallelTesting>false</parallelTesting>
      <classifications class="empty-list"/>
    </net.masterthought.jenkins.CucumberReportPublisher>
  </publishers>
  <buildWrappers>
    <hudson.plugins.build__timeout.BuildTimeoutWrapper plugin="build-timeout@1.18">
      <strategy class="hudson.plugins.build_timeout.impl.AbsoluteTimeOutStrategy">
        <timeoutMinutes>60</timeoutMinutes>
      </strategy>
      <operationList>
        <hudson.plugins.build__timeout.operations.AbortOperation/>
      </operationList>
    </hudson.plugins.build__timeout.BuildTimeoutWrapper>
  </buildWrappers>
</project>