<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>com.who.tlv.ServicesWebsites.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/serviceswebsites/greet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SessionServlet</servlet-name>
    <servlet-class>com.who.tlv.ServicesWebsites.server.SessionServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>SessionServlet</servlet-name>
    <url-pattern>/serviceswebsites/sessionService</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>uploadServlet</servlet-name>
    <servlet-class>com.who.tlv.ServicesWebsites.server.FileUploadServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>uploadServlet</servlet-name>
    <url-pattern>/serviceswebsites/upload</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>downloadService</servlet-name>
    <servlet-class>com.who.tlv.ServicesWebsites.server.FileDownloadServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>downloadService</servlet-name>
    <url-pattern>/serviceswebsites/downloadService</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>ServicesWebsites.html</welcome-file>
  </welcome-file-list>

  <!--  session timeout in minutes -->
  <session-config>
	<session-timeout>5</session-timeout>
  </session-config>
  
</web-app>
