
<div *ngIf="tests">
    <h2><span jhiTranslate="ang2MongMvnApp.tests.detail.title">Tests</span> {{tests.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="ang2MongMvnApp.tests.num">Num</span></dt>
        <dd>
            <span>{{tests.num}}</span>
        </dd>
        <dt><span jhiTranslate="ang2MongMvnApp.tests.str">Str</span></dt>
        <dd>
            <span>{{tests.str}}</span>
        </dd>
        <dt><span jhiTranslate="ang2MongMvnApp.tests.enm">Enm</span></dt>
        <dd>
            <span jhiTranslate="{{'ang2MongMvnApp.Enm.' + tests.enm}}">{{tests.enm}}</span>
        </dd>
        <dt><span jhiTranslate="ang2MongMvnApp.tests.time">Time</span></dt>
        <dd>
            <span>{{tests.time | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'tests/'+ tests.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
