<h2>Products</h2>
<button (click)="openModal()">update</button>
<div [ngbCollapse]="isCollapsed">
  <input type="text" placeholder="Search" #queryElem (keyup)="0">
  <ul class="items">
    <li *ngFor="let hero of heroes$ | async | filterAsync:queryElem.value:'name'"
      [class.selected]="hero.id === selectedId">
      <a (click)="setSelectId(hero.id)"> <!-- [routerLink]="['./hero', hero.id]" -->
        <span class="badge">{{ hero.id }}</span>{{ hero.name }}
      </a>
    </li>
  </ul>
</div>
<div [ngbCollapse]="!isCollapsed">
  <button (click)="this.isCollapsed = false">show</button>
</div>

<!-- <router-outlet></router-outlet> -->