<ul>
  <li *ngFor="let item of items" [contextMenu]="myContextMenu" [contextMenuSubject]="item" 
  (click)="click($event)" [ngStyle]="{'cursor': 'pointer'}" >Right Click: {{item?.name}}</li>
</ul>

<context-menu #myContextMenu>
  <ng-template *ngFor="let action of contextMenuActions" contextMenuItem let-item
    [visible]="action.visible" [enabled]="action.enabled" [divider]="action.divider" [subMenu]="update(action.subMenu)"
    (execute)="action.click($event.item)">
    {{ action.html(item) }}
  </ng-template>
</context-menu>

<context-menu #mySubContextMenu>
<ng-template *ngFor="let action of subContextMenuActions" contextMenuItem let-item
  [visible]="action.visible" [enabled]="action.enabled" [divider]="action.divider"
  (execute)="action.click($event.item)">
  {{ action.html(item) }}
</ng-template>
</context-menu>