<div class="orders view">
    <div class="container">
        <header>
        <br />
            <center><h3>All Suites<button class="pull-right btn btn-primary" ng-click="open()">New Suite</button></h3></center>     
        </header>
        
        <br />
        <div>
            <div class="row">
                <table ng-table="tableParams" show-filter="true" class="table">
					<tbody ng-repeat="user in $data"  >
					<!-- | filter:search | orderBy:suiteName"> -->
						<tr id="tr{{user.suiteId}}" ng-class-odd="'odd'" ng-class-even="'even'">
							<td class="rowTd" data-title="'Suite_Name'"
								sortable="'suiteName'" filter="{ 'suiteName': 'text' }">
								<a href="#/tests/{{user.suiteId}}" ng-click="alert(user.suiteName)">{{user.suiteName}}</a>
								
							</td>
							<td class="rowTd" data-title="'Xml FileLocation'"
								sortable="'xmlFileLocation'"
								filter="{ 'xmlFileLocation': 'text' }">{{user.xmlFileLocation}}</td>
							<td class="rowTd" data-title="'Jenkins URL'"
								sortable="'jenkinsURL'" filter="{ 'jenkinsURL': 'text' }">{{user.jenkinsURL}}</td>
								
							<td class="rowTd" data-title="'Actions'" style="width: 50px">
								<a id="editRowBtn{{user.suiteId}}" rel="tooltip" href="" ng-click="setEditId(user.suiteId)" tooltip-placement="up" tooltip="Edit">
									<i class="glyphicon glyphicon-pencil"></i>
								</a>    
								<a id="editRowBtn{{user.suiteId}}" rel="tooltip" href="" ng-click="deleteSuite(user.suiteId)" tooltip-placement="up" tooltip="Delete">
									<i class="glyphicon glyphicon-trash"></i>
								</a>
							</td>
								
							<!-- <td class="rowTd" data-title="'Actions'">
								<input type=button
									id="editRowBtn{{user.suiteId}}" class="btn btn-primary btn-xs"
									ng-click="setEditId(user.suiteId)" value="Edit"> 
								<input	type=button id="editRowBtn{{user.suiteId}}"
									class="btn btn-danger btn-xs"
									ng-click="deleteSuite(user.suiteId)" value="Delete">
							</td> -->
						</tr>
						<tr  ng-show="editId===user.suiteId">
							<td colspan="7"> <div collapse="!(editId===user.suiteId)" ng-include src="'views/editSuiteRow.html'" ></div></td>
						</tr>
					</tbody>
				</table>
				<script type="text/ng-template" id="newSuiteModal.html">
					<div ng-include src="'views/newSuiteModal.html'"></div>
				</script>
            </div>
        </div>
    </div>
</div>