  <div style="height:100%; width:100%;">
      <vertical-split-pane primary-component-minsize="10" secondary-component-minsize="35" 
          [primary-component-initialratio]="0.3">
      <div class="split-pane-content-primary">
        <div class="left">
          
            <h3>Senarios</h3>
            <div *ngIf="product$ | async as product">
              <h4>Feature: "{{ product.name }}"</h4>
              <!-- <div>
                <label>Id: </label>{{ product.id }}
              </div> -->
              <input type="text" placeholder="Search" #queryElem (keyup)="0">
              <ul class="items">
                <li *ngFor="let build of builds$ | async | filterAsync:queryElem.value:'name'"
                  [class.selected]="build.id === selectedId">
                  <a [routerLink]="['./senario', build.id]" (click)="selectBuildId(build.id)">
                    <span class="badge">{{ build.id }}</span>{{ build.name }}
                  </a>
                </li>
              </ul>
            </div>

        </div>
      </div>
      <div class="split-pane-content-secondary">
        <div class="right">  
  
          <router-outlet></router-outlet>
  
        </div>
      </div>
      </vertical-split-pane>
    </div>