div.float {
    background-color: rgba(228, 229, 230, 0.66);//#d9edf7;
        width: 30%;
        margin: 0 auto;
        text-align: center;
        box-sizing: border-box;
        padding: 5px;
        border-radius: 3px;
    }

 .hipster1 {
        //display: inline-block;
        //width: 347px;
        //height: 497px;
        //background: url("../../../content/images/family.jpg") no-repeat center top;
        background-size: contain;
    }