<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="$suiteName" verbose="1">

	<listeners>
               <listener class-name="com.wh.auto.common.TestListener" />
    </listeners>
	
#set( $index = 0 )
#foreach( $test in $tests )
	<test name="$test.getTest_name()">
		<parameter name="$test.getParameter_name()" value="$test.getParameter_value()"/> 
		<classes>
			<class name="$test.getClass_name()" />
			<methods>
				#foreach( $method in $Utility.spredArryToArry($test.getmethod_name()) )
					<include name="$method" />
				#end
			</methods>
		</classes>
       #set( $index = $index + 1 )
	</test>
	
#end

</suite>